{% extends 'base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block content %}
<title>LT Sambo - Site {{wv_main_item.CD_Site}} Information</title>
<!------ Include the above in your HEAD tag ---------->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<center><h1 class=" text-center text-lg-start fst-italic badge bg-primary text-wrap mb-5" style="width: 12rem;" >Site Information</h1></center>
				<div class="container">
					<div class="row">
						<center><input class="form-control mb-5" type="text-center" value="{{wv_main_item.CD_Site}}" aria-label="Disabled input example" disabled readonly></center>
						{% for things in site_image %}

						<img src="/media/{{things.FU_Site_Image}}" class="rounded mx-auto d-block" alt="...">
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-lg-4 right">
				<center><h1 class=" text-center text-lg-start fst-italic badge bg-primary text-wrap mb-5" style="width: 12rem;" >Team Information</h1></center>

					<center></center>

					<div class="container">
					<div class="row">

					<!--team-1-->
					<div class="col-lg-6">
					<div class="our-team-main">

					<div class="team-front">
					<img src="/static/images/person-icon.png" class="img-fluid" />
					<h5 class="primary">Construction Manager</h5>
					<p class="text-center text-lg-start fst-italic badge bg-primary text-wrap">{{wv_main_item.TX_Construction_Manager}}</p>
						<p>Ph No</p>
					</div>


					</div>
					</div>

					<div class="col-lg-6">
					<div class="our-team-main">

					<center>
					<div class="team-front">
					<img src="/static/images/person-icon.png" class="img-fluid" />
					<h5 class="primary">Site Manager</h5>
					<p class="text-center text-lg-start fst-italic badge bg-primary text-wrap">{{wv_main_item.TX_Site_Manager}}</p>
						<p>Ph No</p>
					</div>
					</center>


					</div>
					</div>

					<div class="col-lg-6">
					<div class="our-team-main">

					<center>

					<div class="team-front">
					<img src="/static/images/person-icon.png" class="img-fluid" />
					<h5 class="primary">In Charge Design</h5>
					<p class="text-center text-lg-start fst-italic badge bg-primary text-wrap">{{wv_main_item.TX_Site_In_charge_Design}}</p>
						<p>Ph No</p>
					</div>
					</center>

					</div>
					</div>

						<div class="col-lg-6">
					<div class="our-team-main">
						<center>
					<div class="team-front">
					<img src="/static/images/person-icon.png" class="img-fluid" />
					<h5 class="primary">In charge QS</h5>
					<p class="text-center text-lg-start fst-italic badge bg-primary text-wrap">{{wv_main_item.TX_Site_In_charge_QS}}</p>
						<p>Ph No</p>
					</div>
					</center>


					</div>
					</div>

						<div class="col-lg-6">
					<div class="our-team-main">

						<div class="team-front">
						<img src="/static/images/person-icon.png" class="img-fluid" />
						<h5 class="primary">Supervisor</h5>
						<p class="text-center text-lg-start fst-italic badge bg-primary text-wrap">{{wv_main_item.TX_Site_Supervisor}}</p>
							<p>Ph No</p>
						</div>

					</div>
					</div>
			</div>
		</div>
	</div>
		</div>
	</div>
<center><a class="dropdown-item secondary bg-primary" href="{% url 'submit_work_volume' %}">Back</a></center>





{% endblock %}