
{% extends 'base.html' %}

{% block title %}Slab Level{% endblock %}
{% load static %}

{% block content %}
<title>LT Sambo - Equipment</title>
<br><br>
<div class="container">

<div class="row">
    {% if messages %}

      {% for message in messages %}
        <br>
        <!-- alert box section start -->
         <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <!-- alert box section end -->
       {% endfor %}

    {% endif %}
    <h3 class="panel-title">
        <span class="english">Equipment</span>
    </h3>
    <form class="col-md-4 col-md-offset-2" method="post">
            {% csrf_token %}
            <span>Equipment</span>
            <input class="form-control col-md-6 me-2" type="input" placeholder="Equipment" aria-label="TX_Equipment_Name" value="{{equipment_item.TX_Equipment_Name}}" name ="TX_Equipment_Name" required><br>

                {% if equipment_item.Is_Active == False %}
                    <div class="col-md-4 mb-3">
                      <label>Status</label>
                      <div class="col-sm-12">

                         <select class="form-select" name="Is_Active" aria-label="Default select example" required>
                            <option value=True>Active</option>
                             <option value=False selected>Inactive</option>
                        </select>

                    </div>
                    </div>
                {% else %}
                    <div class="col-md-4 mb-3">
                      <label>Status</label>
                      <div class="col-sm-12">

                         <select class="form-select" name="Is_Active" aria-label="Default select example" required>
                            <option value=True selected>Active</option>
                             <option value=False>Inactive</option>
                        </select>

                    </div>
                    </div>
                {% endif %}

        {% if equipment_item %}
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary mb-3" type="submit">Update</button>
            </div>
        {% else %}
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary mb-3" type="submit">Submit</button>
            </div>
        {% endif %}

         <center><a class="dropdown-item secondary bg-primary" href="{% url 'equipment' %}">Cancel</a></center>
            <div class="d-grid gap-2">

        </div>
    </form>
    <br>


    {%if equipment_items %}

    <br>
    <div class="col-md-6 col-md-offset-2 primary md-2">
        <span> Equipment Lists</span>
    <table class="table table-striped secondary border" style="Color:#dcdcdc; line-height:1;">
    <thead>
    <!--<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>-->
        <tr>
            <th><center>Equipment Name</center></th>
            <th><center>Status</center></th>
            <th class="text-center"><center>Action</center></th>
        </tr>
    </thead>
      {% for things in equipment_items %}
            <tr style="Color:#dcdcdc;">

                <td><center>{{ things.TX_Equipment_Name }} </center></td>
                {% if things.Is_Active %}
                    <td class="custom-control custom-checkbox" >
                        <center><input type="checkbox" class="custom-control-input" disabled checked></center>
                    </td>
                {% else %}
                    <td class="center custom-control custom-checkbox" >
                      <center><input type="checkbox" class="custom-control-input" disabled></center>
                    </td>
                {% endif %}
                <td class="text-center"><a class='btn btn-primary btn-xs' href="{% url 'edit' things.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a>

            </tr>
        {% endfor %}
    </table>
       </div>


   {% endif %}
</div>
</div>

{% endblock %}